
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
}  
  .section {
    margin-bottom: 40px;
  }
  
  .box {
    display: inline-block;
    width: calc(25% - 20px);
    border: 1px solid black;
    padding: 20px;
    margin: 10px 10px 10px 10px;
  }
  
  .box img {
    max-width: 100%;
    height: auto;
  }
  
  .box h2 {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .box {
      width: calc(33.33% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .box {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 400px) {
    .box {
      width: calc(100% - 20px);
    }
  }