.Main-Page{
    min-height: 100vh;
    width: 100%;
    
    min-width: 100%;
    
}

.Meditation-text{
    height: 10vh;
    border-bottom: 1px solid black;
    width: 100%;
}
.Meditation-text h1{
    font-size: 3rem;
    color: purple;
    font-weight: 300;
   
    text-align: center;
    margin-top: 2rem;
}
.Options{
    margin: 80px 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
 
    
    
    flex-wrap: wrap;
}
.list{
    cursor: pointer;
    margin: 0 20px;
    
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
  
    gap: 10px;
    text-align: center;
}
.circle{
    
    overflow: hidden;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: blueviolet;
}
.list-item{
    font-size: 1.1vw;
}

.circle img{
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    height: 100%;
    border-radius: 50%;
    width: 100%;
    object-position: right;
    object-fit: cover;
}
.Hero-section{
    height: 100%;
    width: 100%;
    
}
.Hero-section p{
    margin: 20px;;
}
.meditationVideos{
    height: 100%;
    width: 100%;
    display: flex;
}
.cards{
    margin-top: 50px;
    padding: 30px;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    flex-wrap: wrap;
}
.Card{
    position: relative;
    min-height: 20vh;
    min-width: 200px;
    box-shadow: 0px 0px 10px 0px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 45vh;
    padding: 10px;
    width: 25vw;
    cursor: pointer;
    gap: 20px;
    overflow: hidden;
}
.Card:hover{
    box-shadow: 0px 0px 20px 0px rgb(10, 10, 10);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
.Card h1{
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.Card iframe{
    min-width: 160px;
    width: 20vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* height: clamp(5vh, 20vw, 30vh); */
    
}